<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <body>
        Hallo <%= firstname %>,<br>

        Wenn du auf der Youpers Website selber dein Passwort zurücksetzen wolltest,  öffne den folgenden Link, um weiterzumachen:<br>

        <a href="<%= passwordResetLink %>"><%= passwordResetLink %></a><br>
<br>
        Wenn du dieses Mail unaufgefordert empfangen hast, kannst du es ignorieren.
    </body>
</html>
